---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPost from "@/components/SeoPost.astro";

import { formatDate } from "@/lib/util";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout>
  <SeoPost slot="head" entry={entry} />
  <div>
    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          alt={entry.data.imageAlt || ""}
          class="mb-12 h-auto w-full"
          draggable="false"
        />
      )
    }
    <h1
      class="text-[36px] leading-snug font-bold text-balance text-black dark:text-white"
    >
      {entry.data.title}
    </h1>
    <p class="text-muted-text dark:text-dark-muted-text mt-3">
      {formatDate(entry.data.publicationDate)}
    </p>
    <hr
      class="border-muted-text dark:border-dark-muted-text my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
    <div class="prose mx-auto">
      <Content />
    </div>
    <hr
      class="border-muted-text dark:border-dark-muted-text my-32 border-[0.5px] opacity-10 dark:opacity-15"
    />
  </div>
</BaseLayout>
