---
import { SOCIAL_LINKS } from "@/siteConfig";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" title="Contact" />
  <h2 class="mb-3 text-lg font-bold">Contact</h2>
  <ul class="grid list-none gap-2 p-0">
    {
      Object.keys(SOCIAL_LINKS).map((socialLinkKey) => {
        return (
          <li>
            <a href={SOCIAL_LINKS[socialLinkKey].url}>
              {SOCIAL_LINKS[socialLinkKey].label}
            </a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
