---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Introduction />
    <hr
      class="border-muted-text dark:border-dark-muted-text my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
    <Posts />
    <div class="mt-8">
      <Projects />
    </div>
    <div class="mt-8">
      <SocialLinks />
    </div>
  </div>
</BaseLayout>
