---
import { SITE } from "@/siteConfig";
import ThemeToggle from "@/components/ThemeToggle.astro";

const year = new Date().getFullYear();
---

<footer
  class="mx-auto flex w-full flex-col items-start gap-6 pt-16 pb-24 sm:flex-row sm:items-center sm:justify-between sm:gap-8"
>
  <ThemeToggle />
  <span class="prose mt-2 block">{year} {SITE.author}</span>
</footer>
