<section class="prose">
  <p>
    Welcome to Barebones, an open source template for <a
      href="https://astro.build/">Astro</a
    > designed for simplicity and flexibility. Whether you're a seasoned developer
    or just starting out, Barebones provides everything you need to kickstart your
    next blog with minimal setup.
  </p>
  <p>
    Head over to the <a href="https://github.com/superwebthemes/barebones"
      >repository</a
    > and check out our <a href="https://docs.superwebthemes.com"
      >documentation</a
    > to get started.
  </p>
  <h1 class="mt-8 mb-3 text-lg font-bold">Key features</h1>
  <ul>
    <li>
      <strong>Fast by default: </strong>Leverage the power of Astro, Tailwind
      CSS, and Markdown to create fast, lightweight web pages.
    </li>
    <li>
      <strong>Minimal and customizable: </strong>Solid foundation to build upon
      and meet your unique needs. Zero frameworks installed.
    </li>
    <li>
      <strong>SEO-friendly: </strong>Sitemap, an <a href="/rss.xml">RSS feed</a
      >, and Open Graph protocol support out of the box.
    </li>
    <li>
      <strong>Accessible to all: </strong>System, dark, and light mode support.
      Keyboard navigation and semantic HTML. Fully compliant with WCAG
      standards.
    </li>
    <li>
      <strong>Free and open source: </strong>Join the community and contribute
      to make this project even better!
    </li>
  </ul>
</section>
