<section>
  <p>
    Welcome to Barebones, an open source template for <a
      href="https://astro.build/">Astro</a
    > designed for simplicity and flexibility. Whether you're a seasoned developer
    or just starting out, Barebones provides everything you need to kickstart your
    next blog with minimal setup.
  </p>
  <br />
  <p>
    Head over to the <a href="https://github.com/superwebthemes/barebones"
      >repository</a
    > and check out our <a href="https://barebones.superwebthemes.com"
      >documentation</a
    > to get started.
  </p>
  <h2 class="mb-3 mt-8 text-lg font-bold">Key features</h2>
  <ul>
    <li>
      <strong>Batteries included: </strong>Get started immediately with a
      ready-to-use setup. Start writing right away, no extensive configuration
      required.
    </li>
    <li>
      <strong>Fast by default: </strong>Leverage the power of Astro, Tailwind
      CSS, and Markdown to create fast, lightweight web pages.
    </li>
    <li>
      <strong>Extensible and customizable: </strong>Perfect foundation to build
      upon and meet your unique needs.
    </li>
    <li>
      <strong>SEO-friendly: </strong>Sitemap, RSS feeds, and Open Graph protocol
      support out of the box.
    </li>
    <li>
      <strong>Best practices: </strong>Follows industry best practices for
      development, ensuring high-quality, maintainable code.
    </li>
    <li>
      <strong>Accessible: </strong>Dark and light mode support, keyboard
      navigation, and semantic HTML. Fully compliant with WCAG standards.
    </li>
    <li>
      <strong>Free and open source: </strong>Join the community and contribute
      to make this project even better!
    </li>
  </ul>
</section>
