---
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Navigation from "@/components/Navigation.astro";
---

<html lang="en">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="bg-bg dark:bg-dark-bg">
    <Navigation />
    <div class="mx-auto max-w-screen-sm p-3 font-sans sm:p-6">
      <main class="min-h-[80vh]">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
