---
import "@/styles/reset.css";
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/Navigation.astro";
---

<html lang="en">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body>
    <main class="mx-auto min-h-screen max-w-screen-sm p-3 font-sans sm:p-6">
      <Navigation />
      <slot />
    </main>
  </body>
</html>
